
/* container for the login page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: url('three.png') no-repeat center center fixed;
  background-size: cover; 
  position: relative;
  font-family: 'Lilita One', sans-serif;  
  overflow: hidden;
}


.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(202, 217, 172, 0.6);
  z-index: 0;
}
a
.title {
  margin-top: 36px;
  font-size: 6rem;
  color: #4a752c;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* login box container */
.login-box {
  width: 480px; 
  height: 500px;
  background-color: #dbe9bd;
  padding: 10px 40px 200px; 
  border-radius: 30px;
  border: 6.5px solid #608A33;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 1;
}


.welcome-text {
  color: #608A33;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 4px;
}

.subtext{
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 1.7rem;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #e7f4e4;
  border: 6px solid #93BA85; 
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username-input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin-left: 15px;
  color: #4a752c;
}

.username-input::placeholder {
  color: #93BA85; 
  font-weight: bold;
}

.password-input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin-left: 15px;
  color: #4a752c;
  outline: none;
}

.password-input::placeholder {
  color: #93BA85; 
  font-weight: bold;
}

.input-group:hover {
  border-color: #608a33;
}

.input-group:focus-within {
  border-color: #4a752c;
}

.divider{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #608A33;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #608A33;
  margin: 0 10px;
}

.error-message{
  color: red;
  font-size: 20px;
}

