.navbar {
  background-color: #608A33;
}

.navbar .MuiToolbar-root {
  padding: 10px 20px;  /* Add some padding to the toolbar */
}

.navbar .MuiTypography-root {
  font-weight: bold;
}

.navbar .MuiButton-root {
  margin: 0 10px;  /* Space out the buttons */
  text-transform: none;  /* Remove the uppercase transformation */
}

.navbar .MuiButton-root:hover {
  background-color: #1565c0;  /* Hover effect for buttons */
}
