html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    min-height: 100%;
    box-sizing: border-box;
}

.description-container {
    max-width: 700px;
    text-align: center;
    margin-bottom: 20px;

    p {
        font-weight: 700;
        margin-bottom: 16px;
    }
}

h2 {
    font-family: 'Lilita One', sans-serif;
}

body, p, label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.section {
    margin-bottom: 36px;
}

.question-wrapper {
    margin-bottom: 16px;
}
