
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: url('simple.png') no-repeat center center fixed;
  background-size: cover; 
  position: relative;
  font-family: 'Lilita One', sans-serif;
  overflow: hidden;
}

.register-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(202, 217, 172, 0.6); 
  z-index: 0;
}

.register-title {
  margin-top: 36px;
  font-size: 6rem;
  color: #4a752c;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.register-form {
  margin-top: 20px;
  max-width: 480px;
  max-height: 550px;
  max-width: 600px;
  background-color: #dbe9bd;
  border: 6.5px solid #608A33;
  padding: 30px 50px 110px 50px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.inputs {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-label {
  font-size: 1.7rem;
  margin-bottom: 5px;
  color: #4a752c;
  font-weight: bold;
}

.input-field:hover {
border-color: #608a33;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 5px solid #93BA85;
  border-radius: 20px;
  transition: border-color 0.2s;
  background-color: #e7f4e4;
}

.button-container {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.register-btn {
  margin-top: 20px;
  width: 100%;
}

.input-field::placeholder {
  color: #93BA85; 
  font-weight: bold;
  font-size: 1.2rem;
}

.helper-text {
  margin-left: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #639044;
  margin-top: 5px;
}

